---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import Linke from '../icons/Linke.astro';
import SocialPill from '../components/SocialPill.astro';
import GitHub from '../icons/GitHub.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44 ">

			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4 ">
				Hi, I'm Dyllan Salas

				<a 
				href="https://www.linkedin.com/in/dyllan-salas-4555a9337/" 
				target="_blank" 
				rel="noopener">

				<div class="flex justify-center items-center">
					<Badge> Available Web Developer</Badge>
				</div>

				</a>
			</h1>


			</h1>
			<h2 class="text-xl opacity-80">Web Designer & Developer</h2>
			<p class="text-xl opacity-80">I am a web designer and developer with a passion for creating 
				beautiful and functional websites. I have experience in both front-end and 
				back-end development, and I am always looking for new challenges to push 
				my skills to the next level. Whether you need help with your website or 
				just want to learn more about web development, I'm here to assist you.
			</p>
				
			<nav class="flex gap-x-2">
				<SocialPill  href="https://www.linkedin.com/in/dyllan-salas-4555a9337/" >
					<Linke class="w-6 h-6"/>
						LinkedIn
				<SocialPill/>

				<SocialPill  href="https://github.com/DilanSalas" >
					<GitHub class="w-6 h-6"/>
						GitHub
				<SocialPill/>
				
				
			
			</nav>
				
				
		</section>
	</main>
</Layout>
