---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Badge from '../components/Badge.astro';
import Linke from '../icons/Linke.astro';
import SocialPill from '../components/SocialPill.astro';
import GitHub from '../icons/GitHub.astro';
import Email from '../icons/Email.astro';
import Experience from '../components/Experience.astro';
import Briegcase from '../icons/Briegcase.astro';
import Projects from '../components/Projects.astro';
import Code from '../icons/Code.astro';
import Studies from '../components/Studies.astro';
import Book from '../icons/Book.astro';
import About from '../components/About.astro';
import ContactInfo from '../components/ContactInfo.astro';
import Brain from '../icons/Brain.astro';
---
<Layout title="Portafolio | Dyllan Salas">
	<main class="px-4">
	  <SectionContainer class="py-24 lg:py-20 pb-20">
		<h1 class="text-white text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-bold flex flex-wrap gap-x-4 pb-6 lg:pb-4 w-full">
		  <span class="flex-1">Hi, I'm Dyllan Salas</span>
		  <a 
			href="https://www.linkedin.com/in/dyllan-salas-4555a9337/" 
			target="_blank" 
			rel="noopener">
			<div class="flex justify-start items-center mt-1 sm:mt-0">
			  <Badge>Available Web Developer</Badge>
			</div>
		  </a>
		</h1>
  
		<h2 class="text-xl opacity-80 max-w-[700px] sm:text-2xl text-blue-200">Web Designer & Developer</h2>
		<p class="text-base sm:text-lg opacity-80 max-w-[700px] mt-4">
			I am a web designer and developer with a passion for creating beautiful and functional websites. 
			I have experience in both front-end and back-end development, and 
			<span class="text-blue-200 ">I am always looking for new challenges to push my skills to the next level</span>.
			Whether you need help with your website or just want to learn more about web development, 
			I'm here to assist you.
		  </p>
		
		  
		<nav class="flex flex-wrap gap-4 mt-6">
		  <SocialPill href="https://www.linkedin.com/in/dyllan-salas-4555a9337/">
			<Linke class="w-6 h-6" />
			LinkedIn
		  </SocialPill>
		
		  <SocialPill href="https://github.com/DilanSalas">
			<GitHub class="w-6 h-6" />
			GitHub
		  </SocialPill>
  
		  <SocialPill href="mailto:dilansalas200@gmail.com">
			<Email class="w-6 h-6" />
			dilansalas200@gmail.com
		  </SocialPill>
		</nav>
	  </SectionContainer>
  
	  <SectionContainer id="studies" class="py-12 lg:py-20 pb-16 mt-16 lg:mt-32">
		<h2 class="text-3xl font-semibold mb-6 flex items-center gap-x-4 text-center lg:text-left">
		  
		  <Book class="size-7 text-blue-500" />
		  
		  Courses and Studies
		</h2>
		<Studies />
	  </SectionContainer>
	  
  
	  <SectionContainer id="projects" class="py-12 lg:py-20 pb-16 mt-16 lg:mt-32">
		<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-center lg:text-left">
		  <Code class="size-7" />
		  Projects
		</h2>
		<Projects />
	  </SectionContainer>

	  <SectionContainer id="about" class="py-24 lg:py-44 pb-20">
		<About />
	  </SectionContainer>
	  

	  <SectionContainer id="contact" class="py-24 lg:py-44 pb-20">
		<ContactInfo />
	  </SectionContainer>
	</main>
  </Layout>
  