<footer class="backdrop-blur-lg rounded-lg shadow mt-4 w-full dark:bg-gray-800/60 bg-white/60 border border-gray-200 dark:border-gray-700">
  <div class="max-w-screen-xl mx-auto px-4 py-6">
    <div class="flex flex-col md:flex-row items-center justify-between">

      <!-- Copyright -->
      <span class="text-sm text-gray-500 dark:text-gray-400">
        © 2025
        <a href="https://github.com/DilanSalas" class="hover:underline">
          Dyllan Salas
        </a>.
        <span data-i18n="footer.allRightsReserved">
          All Rights Reserved
        </span>
      </span>

      <!-- Links -->
      <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0 gap-4">
        <li><a href="#top" class="hover:underline" data-i18n="footer.home">Home</a></li>
        <li><a href="#studies" class="hover:underline" data-i18n="footer.studies">Studies</a></li>
        <li><a href="#projects" class="hover:underline" data-i18n="footer.projects">Projects</a></li>
        <li><a href="#about" class="hover:underline" data-i18n="footer.about">About</a></li>
        <li><a href="#contact" class="hover:underline" data-i18n="footer.contact">Contact</a></li>
      </ul>

    </div>
  </div>
</footer>
