<header class="flex justify-between items-center py-5 w-full xl:w-[1630px]">

    <img class="rounded-full w-12 h-12" src="https://avatars.githubusercontent.com/u/100282811?v=4" alt="avatar" />
  
   
    <nav class="flex flex-center md:flex-row gap-4 md:gap-14 opacity-50 justify-center items-center w-full">
      <a href="#top">Home</a>
      <a href="#studies">Studies</a>
      <a href="#projects">Projects</a>
      <a href="#about">About</a>
      <a href="#contact">Contact</a>
    </nav>
</header> 