---
import TranslateIcon from '../icons/TranslateIcon.astro';
---

<script is:inline>
  // Obtener el idioma guardado en localStorage o establecer el predeterminado a "es"
  const savedLang = localStorage.getItem('lang') || 'es';
  
  // Cambiar idioma y actualizar en la interfaz
  const switchLanguage = () => {
    const currentLang = localStorage.getItem('lang') || 'es';
    const newLang = currentLang === 'en' ? 'es' : 'en';
    
    localStorage.setItem('lang', newLang);
    document.documentElement.lang = newLang;
    
    fetch(`/locales/${newLang}.json`)
      .then(response => response.json())
      .then(translations => {
        document.querySelectorAll('[data-i18n]').forEach(element => {
          const key = element.dataset.i18n;
          element.textContent = translations[key] || element.textContent;
        });
      });

    // Actualizar el idioma mostrado
    const languageLabel = document.getElementById('language-label');
    languageLabel.textContent = newLang === 'en' ? 'EN' : 'ES';
  }

  // Establecer el idioma al cargar la página
  document.addEventListener('DOMContentLoaded', () => {
    const languageLabel = document.getElementById('language-label');
    languageLabel.textContent = savedLang === 'en' ? 'EN' : 'ES';
    
    // Configurar el evento de clic para cambiar el idioma
    const languageSwitcher = document.querySelector('.language-switcher-container');
    if (languageSwitcher) {
      languageSwitcher.addEventListener('click', switchLanguage);
    }
  });
</script>
<div class="language-switcher-container fixed bottom-6 right-6 z-50">
  <div class="
    relative
    flex items-center
    justify-center
    w-20 h-20
    border rounded-full
    bg-white bg-opacity-60
    dark:bg-black dark:bg-opacity-60
    hover:bg-opacity-80
    transition-all duration-200
    cursor-pointer
    group
    hover:ring-2 hover:ring-black
    dark:hover:ring-2 dark:hover:ring-white
  ">

    <span id="language-label" class="text-black dark:text-white  font-semibold mr-2">ES</span>
    <TranslateIcon class="w-6 h-6 text-black dark:text-white" />
  </div>
</div>

